.circle {
  border-radius: 50%;
  background-position: center;
  background-size: cover;
}


.hr {
  width: 100%;
}

.img {
  width: 25%;
  height: 25%;
}

.card {
  margin-bottom: 10px;
}

@media only screen and (max-width: 600px) {
  .card-width {
    width: 100%;
  }
}

@media only screen and (min-width: 600px) {
  .card-width {
    width: 75%;
  }
}

@media only screen and (min-width: 992px) {
  .card-width {
    width: 25%;
  }
}

.card-img-top {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

@media only screen and (max-width: 600px) {
  .img {
    width: 50%;
    height: 50%;
  }
}

@media only screen and (min-width: 600px) {
  .img {
    width: 25%;
    height: 25%;
  }
}

.body-text {
  font-size: 1.6rem;
}

@media only screen and (max-width: 600px) {
  .body-text {
    font-size: 1.2rem;
  }
}

@media only screen and (min-width: 600px) {
  .body-text {
    font-size: 1.4rem;
  }
}

@media only screen and (min-width: 768px) {
  .body-text {
    font-size: 1.5rem;
  }
}

@media only screen and (min-width: 992px) {
  .body-text {
    font-size: 1.6 rem;
  }
}

@media only screen and (min-width: 1200px) {
  .body-text {
    font-size: 1.8rem;
  }
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
